//Bordi
$brand-primary: #e1c0b0;

//Testi
$brand-secondary: #a6a6a6;

//Backgroun
$brand-tertiary: #ef2853;
$brand-quartiary: #c0e1cf;

//icons
$brand-icon-primary: #f8d12d;
$brand-icon-secondary: #80465f;
$brand-icon-tertiary: #eb6950;